body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.vh-80 {
  height: 95vh !important;
}

/* .mt-500 {
  margin-top: 480px;
} */

.mr-10 {
  margin-right: 10px;
}

.chat-height {
  height: 75vh !important;
}

.chat-message-right {
  display: flex;
  flex-shrink: 0;
  margin-right: auto;
  flex-direction: row-reverse;
}

.chat-message-left {
  display: flex;

  margin-left: auto;
  flex-shrink: 0;
}

.chat-window {
  z-index: 100;
  height: 100%;
  overflow: hidden;
}

.chat-input {
  position: sticky;
  bottom: 0;
}

.border-right-info {
  border-right: 1px #0dcaf0 solid;
}

.cursor-pointer {
  cursor: pointer;
}

.online {
  background-color: #4cd137;
  position: absolute;
  bottom: 0;
  left: 40px;
  height: 20px;
  width: 20px;
  border: 3px solid white;
  border-radius: 50%;
}

.offline {
  background-color: #d13737;
  position: absolute;
  bottom: 0;
  left: 40px;
  height: 20px;
  width: 20px;
  border: 3px solid white;
  border-radius: 50%;
}

.new-message-alert {
  background-color: darkblue;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.margin-right-100 {
  margin-right: 300px;
}
